body {
  &.model_active {
    overflow-y: hidden;
  }
}
.linkIcon{
  cursor: pointer;
}
.level_section {
  margin-left: 257px;
  .section-name {
    padding: 24px;
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: #e66e19;
    }
  }
  .search_bar {
    padding: 16px 24px;
    box-shadow: inset 0px -1px 0px #dee2e6;
    display: flex;
    form {
      position: relative;
      border-radius: 4px;
      input[type="text"] {
        margin-left: 24px;
        padding: 4px 0px;
      }
      ::placeholder {
        color: #adb5bd;
      }
      .searchIcon {
        position: absolute;
        height: 16px;
        width: 16px;
        left: 0px;
        top: 5px;
        cursor: pointer;
      }
    }
    .add_btn {
      button {
        display: flex;
        align-items: center;
        padding: 4px 8px 4px 6px;
        gap: 4px;
        background: $primary_color;
        color: $white;
        border: 1px solid $primary_color;
        border-radius: 2px;
        cursor: pointer;
      }
    }
  }
  .main-body {
    table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;

      tr {
        th:nth-child(1) {
          width: 48px;
          padding: 8px 8px 8px 24px;
          input[type="checkbox"] {
            accent-color: $primary_color;
            box-shadow: 0px 2px 4px #0000000a, 0px 1px 2px #00000014;
            border-radius: 2px;
            cursor: pointer;
          }
        }
      }
      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        box-shadow: inset 0px -2px 0px #dee2e6;
        color: $text_color;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        resize: horizontal;
        overflow: auto;
        padding: 8px 24px;
        &:last-child {
          text-align: right;
        }
      }
      td {
        padding: 8px 24px;
        font-weight: 400;
        font-size: 14px;
        color: #343a40;
        &:last-child {
          text-align: right;
        }
        .switch {
          position: relative;
          display: inline-block;
          width: 32px;
          height: 16px;
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #f8f9fa;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04),
            0px 1px 2px rgba(0, 0, 0, 0.08);
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 0px;
          bottom: 0px;
          background-color: #adb5bd;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #e3f2fd;
        }
        input:checked + .slider:before {
          background-color: #1e88e5;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(16px);
          -ms-transform: translateX(16px);
          transform: translateX(16px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 35px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }
    .empty_table {
      margin-top: 64px;
      margin-bottom: 64px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      h5 {
        font-weight: 600;
        font-size: 16px;
        color: #343a40;
        margin-top: 16px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        color: #6c757d;
        margin-top: 8px;
      }
      button {
        display: flex;
        align-items: center;
        padding: 4px 8px 4px 6px;
        gap: 4px;
        background: $primary_color;
        color: $white;
        border: 1px solid $primary_color;
        border-radius: 2px;
        margin-top: 16px;
        cursor: pointer;
        &:hover {
          background-color: $dark_primary;
        }
      }
    }
    .table_pagination {
      display: flex;
      padding: 16px 24px;
      box-shadow: inset 0px 1px 0px #dee2e6;
      .list {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .button {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        color: #343a40;
        p {
          margin-right: 16px;
        }
        .mr-16 {
          margin-right: 16px;
        }
        .ml-16 {
          margin-left: 16px;
        }
        .page_num {
          display: flex;
          align-items: center;
          gap: 4px;
          .btn-items {
            padding: 1.5px 8px;
            cursor: pointer;
          }
        }
        .btn-items {
          display: flex;
          align-items: center;
          padding: 1.5px 8px;
          cursor: pointer;
        }
        .active {
          background: #007296;
          border-radius: 2px;
          color: $white;
        }
      }
    }
    .form_modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background-color: $white;
      width: 436px;

      &.active {
        transform: translate(-50%, -50%) scale(1);
      }

      .modal_heading {
        display: flex;
        padding: 24px 24px 8px;
        .closeBtn {
          background-color: transparent;
          cursor: pointer;
        }
      }
      form {
        padding: 12px 24px 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .form_item {
          display: flex;
          flex-direction: column;
        }
        input {
          border: 1px solid #adb5bd;
          border-radius: 4px;
          padding: 8px 16px;
        }
        select {
          border: 1px solid #adb5bd;
          border-radius: 4px;
          padding: 8px 16px;
          outline: none;
        }
        textarea {
          resize: none;
          border: none;
          outline: none;
          border: 1px solid #adb5bd;
          border-radius: 4px;
          width: 388px;
          height: 48px;
          padding: 8px 16px;
        }
      }
      .btns {
        padding: 12px 24px 16px;
        box-shadow: inset 0px 1px 0px #dee2e6;
        border-radius: 0px 0px 4px 4px;
        display: flex;
        .buttons {
          align-items: center;
          margin-left: auto;
          display: flex;
          gap: 8px;
          button {
            padding: 8px 16px;
          }
          .transparent {
            background: #ffffff;
            border: 1px solid #dee2e6;
            border-radius: 4px;
            color: #6c757d;
            &:hover {
              background: #ebebebd2;
            }
          }
          .blue {
            background: #1565c0;
            border: 1px solid #1565c0;
            border-radius: 4px;
            color: $white;
            &:hover {
              background: #1155a4;
            }
          }
        }
      }
    }
    .overlay {
      position: fixed;
      top: 0%;
      left: 0%;
      right: 0%;
      bottom: 0%;
      background: rgba(0, 0, 0, 0.5);
      pointer-events: none;
      opacity: 0;
      &.active {
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}
